body {
    font-family: 'Special Elite', cursive;
    background: #f5dbda;
}

.header_div {
    background: #307bc7;
    color: #e04a4a
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: #24e371;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: #f40d0d;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #00aede;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(239, 159, 10);
}